<div class="bg-container">

    <div class="data-container">

        @if(loadingData){
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
        }@else{
            <div class="search-container">
                <input class="search-input"  [(ngModel)]="location" type="text" placeholder="Ciudad, país o código postal">
                <button (click)="searchWeather()" class="search-btn"> Buscar</button>
            </div>
            <div class="current-weather-container">
                <img class="condition-icon" src="{{weather.current.condition.icon}}" alt="">
                <p class="location-title">Mi ubicación</p>
                <p class="location-text">{{weather.location.name}}, {{weather.location.region}}</p>
                <div class="temp-container">
                    <img class="condition-icon-mobile" src="{{weather.current.condition.icon}}" alt="">
                    <p class="temp-text">{{weather.current.temp_c}}°</p>
                </div>
                <p class="condition-text">{{weather.current.condition.text}}</p>
            </div>

            <div class="weather-during-day-container">
                @for(forecast of weather.forecast.forecastday[0].hour; track $index){
                    <div class="weather-per-hour-container">
                        <p>{{$index}}</p>
                        <img class="hour-condition-icon" src="{{forecast.condition.icon}}" alt="">
                        <p>{{forecast.temp_c | mathRoundNumber }}°</p>
                    </div>
                }
            </div>

            <div class="forecasts-container">
                <p class="daily-forecast-title">PRONÓSTICO DIARIO</p>
                <hr class="horizontal-separator">
                @for (forecast of weather.forecast.forecastday; track $index){
                    
                    <div class="daily-weather-container">
                        <p class="day-name">{{forecast.date | dayOfDate}}</p>
                        <img class="hour-condition-icon" src="{{forecast.day.condition.icon}}" alt="">
                        <p class="day-min-temp">Min. {{forecast.day.mintemp_c | mathRoundNumber}}°</p>
                        <p class="day-max-temp">Max. {{forecast.day.maxtemp_c | mathRoundNumber}}°</p>
                    </div>

                    <hr class="horizontal-separator">   
                }  
            </div>
               
        }
     
    </div> 
</div>

