.spinner{
    border: 10px solid #f2f2f2;
    border-bottom: 10px solid #6300AD;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}    
}

.spinner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.current-weather-container{
    border: 2px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 40px 0 20px 0;
    /* padding: 10px 15px; */
    align-items: center;
    position: relative;
    border-radius: 25px;
    max-width: 600px;
}

.forecasts-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 40px 0 20px 0;
    /* padding: 10px 15px; */
    border: 2px solid #E3E3E3;
    border-radius: 25px;
}

.weather-during-day-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow-y: scroll;
    border: 2px solid #E3E3E3;
    margin: 40px 0px 20px 0;
    /* padding: 10px 15px; */
    align-items: center;
    position: relative;
    border-radius: 25px;
}

.daily-weather-container{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.weather-per-hour-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    height: auto;
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: auto;
    max-width: 600px;
}

.condition-icon{
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 5%;
}

.condition-icon-mobile{
    display: none;
}

.hour-condition-icon{
    width: 40px;
    height: 40px;
}

.location-title{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.location-text{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.temp-text{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.condition-text{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.daily-forecast-title{
    font-size: 12px;
    opacity: .5;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 20px 0 ;
}

.horizontal-separator{
    height: 1px;
    background-color: black;
    opacity: .6;
    margin: 20px;
}

.day-name{
    width: 60px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
}

.day-min-temp{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    color: #A8A8A8;
}

.day-max-temp{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;   
}

.search-input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
    padding: 0 8px;
    margin-right: 8px;
}

.search-btn{
    width: auto;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
}

.search-btn:hover{
    background-color: #8CB4FF;
    color: white;
    border: 2px solid #8CB4FF;
}

@media (max-width: 490px) {
    .condition-icon-mobile{
        margin-right: 12px;
        display: inline-block;
    }

    .condition-icon{
        display: none;
    }

    .temp-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}